#otpSection {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(255, 255, 255, 0.2); /* transparent */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 20px;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
}

#otpSection.show {
  display: block;
  opacity: 1;
  margin-top: 10px;
}

#submitBtn.loading {
  pointer-events: none;
  opacity: 0.6;
}
