  
    .overlay {
    background-color:linear-gradient(to right, #e0f7fa, #ffffff);
      min-height: 100vh;
      padding: 30px;
      border-radius: 10px;
    }

    .form-control::placeholder {
      color: #bbb;
    }

    .buyer-card {
     background: linear-gradient(135deg, #6f42c1, #d63384);
      color: white;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
    }
   .buyer-card:hover{
    transform: translateY(-5px);
   }
     .search-bar {
      margin-bottom: 20px;
    }