  
    .overlay {
     
      min-height: 100vh;
      padding: 30px;
    }

    .table thead {
      background-color: #343a40;
      color: white;
    }

    canvas {
      max-height: 300px;
    }

    .total-summary {
      font-size: 1.2rem;
      margin-bottom: 30px;
      color: #ffc107;
    }

    .back-btn {
      margin-bottom: 20px;
    }
  .text-center{
      color:  #343a40;
    }

    .form-label{
      color:#343a40 ;
    }